
@tailwind base;
@tailwind components;
@tailwind utilities;

.print-block {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #041c32;
}

::-webkit-scrollbar-thumb {
  background: #be841c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
