
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #041c32;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #041c32;
}

::-webkit-scrollbar-thumb {
  background: #be841c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}

/* Transição suave para todos os elementos */
* {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

input:focus {
  border-color: #be841c !important;
  box-shadow: 0 0 10px rgba(190, 132, 28, 0.1);
}
